Package: libthomsoft-webservice-php
Source: thomsoft-webservice
Version: 0.2-thomsoft-cloud-1.5
Architecture: all
Maintainer: Thomas A. de Ruiter <thomas@de-ruiter.cx>
Installed-Size: 64
Depends: php5 | php5-cgi | php5-cli | libapache2-mod-php5, libzend-framework-php | zendframework
Section: web
Priority: extra
Description: a simple webservice library
