Source: thomsoft-webservice
Section: web
Priority: extra
Maintainer: Thomas A. de Ruiter <thomas@de-ruiter.cx>
Build-Depends: cdbs, debhelper (>= 7), config-package-dev

Package: libthomsoft-webservice-php
Architecture: all
Depends: php5 | php5-cgi | php5-cli | libapache2-mod-php5, libzend-framework-php | zendframework
Description: a simple webservice library
